.App {
  text-align: center;
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
  width: 150px;
  height: 150px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Input-Div {
  display: flex;
}
.Input-Box {
  height: 20px;
  padding: 5px;
  font-size: medium;
}
.listButton {
  width: 180px;
  font-size: inherit;
}
.addButton {
  width: 100px;
  padding: 5px;
  font-size: medium;
  font-weight: bold;
  margin-left: 10px;
}
.Time-Display {
  margin: 0px;
  margin-left: 10px;
}
.Name-List {
  display: flex;
  padding: 5px;
}
.Edit-Time-Button {
  width: 35px;
  height: 30px;
  padding: 5px;
  font-size: medium;
  font-weight: bold;
  margin-left: 10px;
}
.Edit-Time-Input-Box {
  width: 60px;
  height: 20px;
  padding: 5px;
  margin-left: 10px;
  font-size: medium;
}
.Edit-Mode-Button {
  width: 50px;
  padding: 5px;
  height: 35px;
  font-size: large;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 5px;
}
.Mode-Popup {
  width: 70px;
  font-size: medium;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
